---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'My Astro Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}  current="blog">
  <div class="home-container">
    <h1>My Astro Site</h1>
    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
  </div>
</BaseLayout>